Repository aamks/aamks, pull requests merged in 2023-11, with the labels that each got.

#175 Lognorm distributions fixed
  gui/lib.form.php
  installer/demo/navmesh/conf.json
  installer/demo/simple/conf.json
  installer/demo/three/conf.json
  montecarlo/cfast_mcarlo.py
  montecarlo/evac_mcarlo.py
Labels: bug, fire_submodel, evac_submodel, GUI

#182 Round time entries in cfast output
  fire/partition_query.py
Labels: bug, fire_submodel

#185 Redis
  aamks.py
  evac/worker.py
  gui/halt.php
  installer/local_config
  installer/local_install.sh
  installer/server_install.sh
  manager/init.py
  redis_aamks/app/config.py
  redis_aamks/app/main.py
  redis_aamks/app/requirements.txt
  redis_aamks/docker-compose.yml
  redis_aamks/manager.py
  redis_aamks/requirements.txt
  redis_aamks/worker/config.py
  redis_aamks/worker/requirements.txt
  redis_aamks/worker/worker.py
Labels: enhancement
